!!! 5
%html
	%head
		%title You're such a Potty Mouth!
	%body
		#content
			%h1 How do I do this?
			:markdown
				Find your foul-mouthed github repository and add a post-receive hook like so…
				
				Find the administration section of the repository:
				
				![The link to the repository administration](/images/howto-admin.png "Find the Administration section")
				
				Now add PottyMouth a post-receive URL; http://pottymouth.heroku.com/posthook
				
				![Adding PottyMouth to the Post-Recieve hooks](/images/howto-postreceive.png "Add PottyMouth to the Post-Recieve hooks")
			%a{:href=>'/'} Back I tell thee!