%h1 Potty Mouth
%p
	:markdown
		So there's this guy [Max](http://twitter.com/mxcl) (he's a splendid chap, by the way) who nonchalantly [asked twitter](http://twitter.com/mxcl/status/16838493726) to make him a tool for measuring the profanity of code-bases.

		This is phase one. It probably won't work most of the time. But it sometimes it does, and then it tells you who the naughtiest developer is, and the most dastardly codebase.

%img{:src => '/graphs/overview.png'}
